
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin:0;
    padding:0;
     }
    

header {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
    background-color: darkolivegreen;
    position: fixed;
    overflow: hidden;
    top:0;
}

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
    background-color: darkolivegreen;
    text-align: right;
}

a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
    float: right;
    display: block;
    padding: 0px 16px;
}

a:visited {
    color:whitesmoke
}

a:hover {
    color: yellow
}

h1
{
    text-align: center;
    border-top: 6px solid #fbe193;
    margin-top: 50px;
    color: #795548;
} 

h3 {
    margin: auto;
    text-align: center;
    width: 100px;
    padding-top: 20px;
    border: 3px solid #fbe193;
    padding-bottom: 33px;
    background-color: #795548;
    color: #fbe193;
    outline: 6px solid #795548;
   }

p {
    font-size: 10px;
    text-align:center;
    margin-top: 20px
}

  .outerbox {
    margin: 0;
    text-align: center;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 60px;
    background-color: #795548;
    border: 9px solid darkolivegreen;
    outline: 6px solid #fbe193;
    
  }
  
  .finalbox {
    margin: auto;
    text-align: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 15px;
    background-color: #795548;
    border: 9px solid darkolivegreen;
    outline: 6px solid #fbe193;
  }




